<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
         <li class="sidebar-item">
            <a class="sidebar-link" href="/AdminAbout/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-info-circle"></i>
                </span>
                <span class="hide-menu">Hakkımızda</span>
            </a>
        </li>


        <li class="sidebar-item">
            <a class="sidebar-link" href="/AdminAlbum/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-disc"></i>
                </span>
                <span class="hide-menu">Albümler</span>
            </a>
        </li>


        <li class="sidebar-item">
            <a class="sidebar-link" href="/Artists/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-disc"></i>
                </span>
                <span class="hide-menu">Sanatçılar</span>
            </a>
        </li>


        <li class="sidebar-item">
            <a class="sidebar-link" href="/Role/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-disc"></i>
                </span>
                <span class="hide-menu">Roller</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" href="/RoleAssign/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-disc"></i>
                </span>
                <span class="hide-menu">Rol Atama</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" href="/AdminMessage/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-message"></i>
                </span>
                <span class="hide-menu">Mesajlar</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="/AdminContact/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-message"></i>
                </span>
                <span class="hide-menu">İletişim</span>
            </a>
        </li>
    </ul>
    @ViewBag.username
</nav>