﻿<form method="post" asp-action="FilterAlbums" asp-controller="Albums">
    <div class="dropdown col-12">
    <div class="row ">
        <div class="col-5 ">
            <select asp-items="@ViewBag.artists" name="artist" Width="100%" class="dropdown-item">
                <option>Sanatçı Seç</option>
            </select>
        </div>
        <div class="col-5">
            <select asp-items="@ViewBag.categories" name="category" Width="100%" class="dropdown-item">
                <option>Tür Seç</option>
            </select>
        </div>
        <div class="col-2">
                <button class="btn-sm btn-primary ">Ara</button>
        </div>
    </div>
    </div>
</form>